*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #5e5e5e;
  font-size: 14px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  line-height: 18px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  display: inline-block;
}

.default-btn {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ffc222;
  border-right: 20px solid #ffc222;
  position: relative;
  outline: none;
}

.default-btn:after {
  content: "\f105";
  color: #fff;
  position: absolute;
  font-family: 'icomoon' !important;
  right: -12px;
}

.header {
  font-family: 'Roboto', sans-serif;
}

.header__top {
  background-color: #303030;
}

.header__contacts:after {
  content: '';
  clear: both;
  display: block;
}

.header__info {
  line-height: 45px;
  color: #cbcacb;
  align-items: center;
  position: relative;
}

.header__phone {
  padding: 0 30px 0 20px;
}

.header__phone:before {
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header__mail {
  padding: 0 30px 0 25px;
}

.header__mail:before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header__btn {
  float: right;
  color: #1b1b1b;
  background-color: #ffc222;
  font-size: 16px;
  line-height: 1;
  padding: 15px 20px 14px 50px;
  position: relative;
}

.header__btn:before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 20px;
  color: #1b1b1b;
}

.header__bottom {
  padding: 34px 0 23px;
}

.header__bottom_wrapper {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  font-family: 'Roboto', sans-serif;
}

.header__menu li + li {
  margin-left: 5px;
}

.header__menu li:last-child {
  margin-right: -20px;
}

.header__menu a {
  color: #323232;
  font-size: 16px;
  line-height: 36px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition: all .3s;
}

.header__menu a:hover {
  border: 1px solid #ffc222;
}

.header__btn-menu {
  display: none;
  font-size: 28px;
}

#modal {
  display: none;
}

.slider {
  background-size: cover;
  min-height: 500px;
}

.slider__wrapper {
  position: relative;
}

.slider__item-content {
  text-align: center;
  max-width: 670px;
  margin: 0 auto;
  padding-top: 110px;
}

.slider__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
}

.slider__text {
  font-size: 18px;
  line-height: 24px;
  color: #d3d2d2;
  margin-bottom: 50px;
}

.slider__button {
  padding: 8px 30px 8px 24px;
}

.slick-btn {
  position: absolute;
  top: 70%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  background: #ffc222;
  cursor: pointer;
  outline: none;
}

.slick-btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon' !important;
  color: #fff;
}

.slick-disabled {
  cursor: default;
  background: transparent;
}

.slick-next {
  right: 0;
}

.slick-next:after {
  content: "\f105";
}

.slick-prev {
  left: 0;
}

.slick-prev:after {
  content: "\f104";
}

.services {
  padding: 50px 0 30px;
}

.services__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.services__title-box {
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}

.services__title-box:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
  left: 0;
  top: 11px;
}

.services__title {
  color: #212020;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.services__text {
  letter-spacing: 0.1px;
}

.services__btn {
  color: #373636;
  line-height: 24px;
  padding: 5px 40px;
  border: 3px solid #e6e6e6;
  align-self: center;
}

.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 360px;
  min-height: 365px;
  text-align: center;
  padding: 30px 35px 40px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.services__item img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 282px;
  left: 50%;
  transform: translateX(-50%);
}

.services__item-title {
  margin-top: 80px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding-bottom: 24px;
}

.services__item-text {
  flex: 1 0 auto;
}

.services__item-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__item-link {
  color: #212020;
  border-bottom: 1px solid #212020;
}

.services__item-button {
  padding: 8px 25px 8px 35px;
  color: #212020;
}

.about {
  background-size: cover;
  min-height: 300px;
  padding: 25px 0 45px;
}

.about__wrapper {
  max-width: 550px;
}

.about__title {
  color: #fff;
  font-size: 24px;
  line-height: 1;
  padding: 10px 0 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.about__text {
  color: #d3d2d2;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 30px;
}

.about__button {
  padding: 8px 26px;
}

.about__button:after {
  color: #000;
}

.consultation {
  padding: 40px 0;
  min-height: 520px;
}

.consultation__wrapper {
  min-height: 460px;
  position: relative;
}

.consultation__wrapper img {
  position: absolute;
  right: 0;
  bottom: -40px;
}

.consultation__title-box {
  max-width: 520px;
  padding-left: 140px;
  margin-bottom: 40px;
  position: relative;
}

.consultation__title-box:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
  left: 0;
  top: 11px;
}

.consultation__title {
  color: #212020;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.consultation__text {
  letter-spacing: 0.1px;
}

.consultation__form {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.consultation__form label,
.consultation__form input,
.consultation__form select,
.consultation__form textarea {
  display: block;
  width: 100%;
}

.consultation__form label {
  line-height: 36px;
  color: #282828;
  font-family: 'Roboto', sans-serif;
}

.consultation__form input {
  margin-bottom: 8px;
  outline: none;
  padding: 8px 10px;
  line-height: 24px;
  border: 1px solid #e6e6e6;
  height: 40px;
}

.consultation__form select {
  border: 1px solid #e6e6e6;
  height: 40px;
  outline: none;
  padding: 8px 10px;
  cursor: pointer;
}

.consultation__form textarea {
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 8px 10px;
  height: 207px;
  resize: none;
}

.consultation__button {
  background: transparent;
  color: #000;
  padding: 8px;
  margin-bottom: 0;
  margin-top: auto;
  width: 230px;
  align-self: flex-end;
  cursor: pointer;
}

.consultation__button:after {
  color: #000;
}

.jq-selectbox.jqselect {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #e6e6e6;
  background: transparent;
  border-radius: none;
  padding: 0 10px;
  cursor: pointer;
}

.jq-selectbox__trigger-arrow:after {
  content: "\f105";
  color: #e6e6e6;
  position: absolute;
  font-family: 'icomoon' !important;
  transform: rotate(90deg);
  top: 1px;
  right: 10px;
}

.jq-selectbox__dropdown {
  padding: 0;
  bottom: -156px;
  position: absolute;
  margin: 2px 0px 0 -10px;
  border: 1px solid #e6e6e6;
  background: #fff;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
}

.jq-selectbox__dropdown ul {
  width: 100%;
}

.jq-selectbox li {
  display: block;
  padding: 0 10px;
}

.jq-selectbox li:hover {
  background-color: #08c;
  color: #fff;
  width: 100%;
}

option {
  width: 100%;
}

.jq-selectbox.selected {
  background-color: #a3abb1;
  color: #fff;
}

.form__column-left,
.form__column-right {
  display: flex;
  flex-direction: column;
}

.form__column-left {
  max-width: 260px;
  width: 100%;
}

.form__column-right {
  max-width: 555px;
  width: 100%;
}

.advantages {
  background-size: cover;
  padding: 55px 0 40px;
  min-height: 285px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.advantages__item {
  max-width: 360px;
  width: 100%;
  min-height: 200px;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.advantages__item:before {
  content: "\f00c";
  line-height: 40px;
  font-size: 14px;
  font-family: 'icomoon' !important;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #fcc222;
}

.advantages__title {
  margin-top: 65px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 15px;
}

.advantages__text {
  line-height: 24px;
  color: #d3d2d2;
  letter-spacing: 0.1px;
}

.news {
  padding: 50px 0 110px;
  background-color: #f9f9f9;
}

.news__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.news__title-box {
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}

.news__title-box:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
  left: 0;
  top: 11px;
}

.news__title {
  color: #212020;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.news__text {
  letter-spacing: 0.1px;
  color: #5e5e5e;
}

.news__btn {
  color: #373636;
  line-height: 24px;
  padding: 5px 40px;
  border: 3px solid #e6e6e6;
  align-self: center;
}

.news__bottom {
  display: flex;
  justify-content: space-between;
}

.news__slider {
  max-width: 555px;
  width: 100%;
  background-color: #fff;
  padding: 60px 35px 45px 70px;
  position: relative;
  box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
}

.news__slider:before {
  content: "\f10e";
  font-family: 'icomoon' !important;
  position: absolute;
  width: 65px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  background-color: #ffc222;
  top: 0;
  left: 70px;
  text-align: center;
  line-height: 30px;
}

.news__blog {
  max-width: 260px;
  width: 100%;
}

.news__images {
  position: relative;
  margin-bottom: 12px;
}

.news__date {
  position: absolute;
  width: 50px;
  height: 55px;
  color: #fff;
  background-color: #ffc222;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  top: 0;
  left: 10px;
}

.news__author {
  margin-top: 30px;
  color: #212020;
}

.news .slick-prev,
.news .slick-next {
  bottom: -70px;
  top: auto;
}

.news .slick-prev.slick-disabled,
.news .slick-next.slick-disabled {
  color: #dadada;
  border-color: #dadada;
}

.news .slick-prev.slick-disabled:after,
.news .slick-next.slick-disabled:after {
  color: #dadada;
}

.news .slick-next {
  right: 0;
}

.news .slick-prev {
  right: 60px;
  left: auto;
}

.footer {
  background-color: #595959;
}

.footer__top {
  padding: 20px 0 30px;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: block;
  max-width: 360px;
}

.footer__title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer__text {
  color: #d3d2d2;
  margin-bottom: 20px;
}

.footer__btn {
  float: none;
  display: inline-block;
  margin-bottom: 10px;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__list li {
  margin-top: 10px;
}

.footer__list a {
  color: #fff;
  letter-spacing: 0.25px;
  line-height: 24px;
  font-size: 16px;
  padding-left: 33px;
  position: relative;
}

.footer__list a::before {
  position: absolute;
  font-family: 'icomoon' !important;
  left: 0;
  top: 0;
  color: #ffc222;
}

.footer__phone:before {
  content: "\f095";
}

.footer__mail:before {
  content: "\f003";
}

.footer__address:before {
  content: "\f041";
}

.footer__map {
  padding-top: 10px;
  max-width: 630px;
  width: 100%;
}

.footer__map iframe {
  max-width: 630px;
  width: 100%;
  height: 250px;
}

.footer__bottom {
  min-height: 40px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

#modal {
  width: 300px;
}

#modal input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  margin-bottom: 8px;
  outline: none;
  padding: 8px 10px;
  line-height: 24px;
  border: 1px solid #e6e6e6;
  font-family: 'Roboto', sans-serif;
}

#modal input[type='submit'] {
  background-color: #ffc222;
  border: none;
}

@media (max-width: 1136px) {
  .services__item {
    padding: 30px 15px 40px;
    width: 30%;
  }

  .consultation img {
    display: none;
  }

  .news__bottom {
    display: block;
    text-align: center;
  }

  .news__slider {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 100px;
    max-width: 90%;
    padding-right: 60px;
  }

  .news__slider-item {
    width: 100%;
    padding-right: 10px;
  }

  .news__blog {
    text-align: left;
    margin: 0 25px;
  }
}

@media (max-width: 900px) {
  .services__items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .services__item {
    width: 40%;
    margin: 10px;
  }

  .consultation textarea {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 800px) {
  .services__title-box {
    padding-left: 0;
  }

  .services__title-box:before {
    content: none;
  }

  .advantages__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantages__item {
    margin-bottom: 50px;
  }

  .news__title-box {
    padding-left: 0;
  }

  .news__title-box:before {
    content: none;
  }
}

@media (max-width: 768px) {
  .active {
    display: block !important;
  }

  .header__btn-menu {
    display: block;
  }

  .menu-list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 50;
  }

  .header__menu li {
    display: block;
    text-align: center;
  }

  .header__menu a {
    display: block;
    background-color: #fff;
    border-top: 1px solid #ffc222;
  }

  .header__menu li + li {
    padding-left: 0;
    margin-left: 0;
  }

  .slider__item-content {
    max-width: 630px;
  }

  .slider__title {
    font-size: 24px;
  }

  .services__title-box {
    max-width: 400px;
  }

  .consultation__title-box {
    padding-left: 0;
    text-align: center;
  }

  .consultation__title-box:before {
    display: none;
  }

  .consultation__form {
    display: block;
  }

  .consultation textarea {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .consultation input {
    width: 100%;
  }

  .form__column-left,
  .form__column-right {
    max-width: 100%;
  }
}

@media (max-width: 728px) {
  .services__item {
    max-width: 360px;
    width: 100%;
  }

  .footer__top {
    display: block;
  }

  .footer__info {
    margin: auto;
    text-align: center;
  }

  .footer__bottom {
    text-align: center;
  }
}

@media (max-width: 668px) {
  .header__btn {
    float: none;
  }

  .header__contacts {
    text-align: center;
  }

  .slider__wrapper button {
    display: none !important;
  }

  .services__top,
  .news__top {
    display: block;
    text-align: center;
  }

  .services__title-box,
  .news__title-box {
    margin: 0 auto 30px auto;
  }

  .news__slider {
    padding-left: 20px;
    padding-right: 20px;
  }

  .news__blog {
    margin: 40px 15px 0;
  }
}

@media (max-width: 400px) {
  .header__mail,
  .header__phone {
    padding-right: 10px;
  }
}